name: Deploy to Production

on:
    push:
        branches:
            - main
        paths:
            - "backend/**"
            - "shared/**"
            - "Dockerfile"
            - ".github/workflows/build-server.yml"

jobs:
    deploy-prod:
        runs-on: ubuntu-latest
        permissions:
            contents: "read"
            id-token: "write"
        environment:
            name: Production

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Authenticate to Google Cloud
              id: auth
              uses: google-github-actions/auth@v2
              with:
                  workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
                  service_account: ${{ secrets.SERVICE_ACCOUNT }}

            - name: Set up gcloud SDK
              uses: google-github-actions/setup-gcloud@v2

            - name: Tag image as production
              run: |
                  gcloud auth configure-docker us-west1-docker.pkg.dev --quiet
                  gcloud container images add-tag \
                      ${{ secrets.ARTIFACT_URL }}:${{ github.sha }} \
                      ${{ secrets.ARTIFACT_URL }}:production \
                      --quiet

            - name: Deploy to Production Cloud Run
              uses: google-github-actions/deploy-cloudrun@v2
              with:
                  service: ${{ secrets.CLOUD_RUN_ID }}
                  region: us-west1
                  image: ${{ secrets.ARTIFACT_URL }}:production
                  flags: "--port=5000 --memory=128Mi --cpu=1 --timeout=300 --concurrency=1000 --execution-environment=gen1 --min-instances=0 --max-instances=1"

            - name: Move all traffic to the new revision
              run: |
                  gcloud run services update-traffic ${{ secrets.CLOUD_RUN_ID }} --region us-west1 --to-latest
